#gauge-textfield::after {
    content: " % ";
}
.pull-left1 {
    float: left !important;
    margin-left: 18px;
}
.pull-left2 {
    float: left !important;
    margin-left: 18px;
    margin-right:3px
}
.pull-right1 {
    float: right !important;
    margin-right: 18px;
}
.nav-pills > li > a {
    border-radius: 0px;
    margin-top:0px;
    margin-bottom:0px;
}
.fa.fa-tasks {
    padding: 10px;
}
.fa.fa-tachometer.fa-5x {
    margin-top: 20px;
    color:#06f;
}
.fa.fa-bar-chart-o.fa-2x {
    padding: 10px;
}
.progress {
    background-color: #f5f5f5;
    border-radius: 0px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    height: 24px;
    overflow: hidden;
    margin-bottom:0px;
}
.progress-bar {
    background-color: #337ab7;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
    color: #fff;
    float: left;
    font-size: 12px;
    height: 100%;
    line-height: 24px;
    text-align: center;
    transition: width 0.6s ease 0s;
    width: 0;
}
#loading{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px; /* half width of the spinner gif */
    margin-top: -50px; /* half height of the spinner gif */
    text-align:center;
    z-index:1234;
    overflow: auto;
    width: 100px; /* width of the spinner gif */
    height: auto; /*hight of the spinner gif +2px to fix IE8 issue */
}
#parent .notice {
    /*background: #000;*/
    border-radius: 12px;
    background: #01a156;
    padding: 10px;
    text-align: center;
}

#parent1 .notice {
    /*background: #000;*/
    border-radius: 12px;
    background:   #FF0000;
    padding: 10px;
    text-align: center;
    color: white;
}
/*http://css-tricks.com/css3-progress-bars*/
.meter {
    height: 20px;
    position: relative;
    margin-bottom: 20px;
    background: #555;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 0px;
    -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
    display: none;
}
.meter > span {
    display: block;
    height: 100%;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomright: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(43, 194, 83);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(43, 194, 83)), color-stop(1, rgb(84, 240, 84)));
    background-image: -moz-linear-gradient(center bottom, rgb(43, 194, 83) 37%, rgb(84, 240, 84) 69%);
    -webkit-box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    position: absolute;
    overflow: hidden;
}
.meter > span:after, .animate > span > span {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent));
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    z-index: 1;
    -webkit-background-size: 50px 50px;
    -moz-background-size: 50px 50px;
    background-size: 50px 50px;
    -webkit-animation: move 2s linear infinite;
    -moz-animation: move 2s linear infinite;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomright: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
}
#simpleUpload {
    padding: 39px;
}







.caption-style-1{
    list-style-type: none;
    margin: 0px;
    padding: 0px;

}

.caption-style-1 li{
    float: left;
    padding: 0px;
    position: relative;
    overflow: hidden;
}

.caption-style-1 li:hover .caption{
    opacity: 1;

}


.caption-style-1 img{
    margin: 0px;
    padding: 0px;
    float: left;
    z-index: 4;
}


.caption-style-1 .caption{
    cursor: pointer;
    position: absolute;
    opacity: 0;
    -webkit-transition:all 0.45s ease-in-out;
    -moz-transition:all 0.45s ease-in-out;
    -o-transition:all 0.45s ease-in-out;
    -ms-transition:all 0.45s ease-in-out;
    transition:all 0.45s ease-in-out;

}
.caption-style-1 .blur{
    background-color: rgba(0,0,0,0.65);
    height: 200px;
    width: 200px;
    z-index: 5;
    position: absolute;
}

.caption-style-1 .caption-text h1{
    text-transform: uppercase;
    font-size: 24px;
}
.caption-style-1 .caption-text{
    z-index: 10;
    color: #fff;
    position: absolute;
    width: 200px;
    height: 200px;
    text-align: center;
    top:0px;
    word-wrap: break-word;
}

.notlink
{
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
}
.button.b-close, .button.bClose {
    border-radius: 7px 7px 7px 7px;
    box-shadow: none;
    font: bold 131% sans-serif;
    padding: 0 6px 2px;
    position: absolute;
    right: -7px;
    top: -7px;
}
.button {
    background-color: #2b91af;
    border-radius: 10px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.3);
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
}
.nav-pills > li > a {
    border-radius: 0px;
    margin-top:0px;
    margin-bottom:0px;
}
.nav > li > a
{
    color:#c5c5c5;
}
.nav > li > a:hover,
.nav > li > a:active,
.nav > li > a:focus

{
    background:#09F;
    color:#fff;
}
.coloreff
{
    background:url(img/upload3.png);
    background-repeat: no-repeat;
    width:100%;
    height:150px;
}
.coloreff:hover
{
    background:url('img/upload4.png');
     background-repeat: no-repeat;
    width:100%;
    height:150px;
}

.profile-pic {
    height: 500px;
    overflow-y: auto;
    padding: 0;
    scroll-behavior: smooth;
    width: 100%;
    word-wrap: break-word;
}
.hovereffect {
    display: inline-block;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
figure:hover .hovereffect,
figure:focus .hovereffect,
figure:active .hovereffect,
.hovereffect:hover,
.media:hover .img-hovereffect {
    -webkit-transform: scale(1.1) rotate(2deg);
    transform: scale(1.1) rotate(2deg);
}
@media screen and (min-width:320px)
{

    .coloreff
    {
        background:url('/img/upload1.png');
         background-repeat: no-repeat;
        width:100%;
        height:290px;
    }
    .coloreff:hover
    {
        background:url('/img/upload2.png');
         background-repeat: no-repeat;
        width:100%;
        height:290px;
    }
}

@media screen and (min-width:1280px)
{
    .col-md-1
    {
        width:5%;
    }
    .col-md-11
    {
        width:95%;
    }
    .coloreff
    {
        background:url('/img/upload1.png');
         background-repeat: no-repeat;
        width:100%;
        height:290px;
    }
    .coloreff:hover
    {
        background:url('/img/upload2.png');
         background-repeat: no-repeat;
        width:100%;
        height:290px;
    }
}
input.hidden {
    position: absolute;
    left: -9999px;
}

#img-btn
{
    cursor: pointer;
}
.chcolor-tooltip + .tooltip > .tooltip-inner {background-color: #B56E7D; opacity:0.9;margin-top:0px;border-radius:0px;}
.chcolor-tooltip + .tooltip > .tooltip-arrow {display:none;}
.chcolor-tooltip + .tooltip.top {margin-top:33px;}
#loading{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px; /* half width of the spinner gif */
    margin-top: -50px; /* half height of the spinner gif */
    text-align:center;
    z-index:1234;
    overflow: auto;
    width: 100px; /* width of the spinner gif */
    height: auto; /*hight of the spinner gif +2px to fix IE8 issue */
}
